@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap');

html{
scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.navbar{
    background-color: royalblue;
}
#navbarNav .navbar-nav li a{
  color: #fff;
   font-size: 18px;
    transition: all 0.3s ease-out;
}
#navbarNav .navbar-nav li a:hover
{
    text-decoration: underline;

    color: black;
}
.navbar .navbar-brand
{
    color: #fff;
    font-size: 30px;
    font-family: monospace;
}

.colorchange{
    animation: colorchangethapa 1s infinite;
}
@keyframes colorchangethapa{
    0%{color: red;

    }
    25%{color: orange;}
    50%{color: orchid;}
    100%{color: tomato;}
}
.home_img
{
    opacity: 1;
    transition: opacity .3s;
}
 .home1{
    background-color: royalblue;
    border-radius: 40px;
    box-shadow: 10px 10px 10px lightgrey;
} 
/* .home_text .head
{
    color: black;
    font-family: poppins,Sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: .7em;

} */
/* .con{
    height: 500px;
} */
.dot
{
    height: 13px;
    width: 13px;
    background-color: #ff5959;
    border-radius: 50%;
}
.home2
{
    border-radius: 40px;
    box-shadow: 10px 10px 10px lightgrey;
    border: 4px solid lightgreen;
}
/* .home_text .para
{
    font-size: 18px;
    font-weight: 500;
} */
@media screen and (max-width:768px)
{
    .name
    {
        flex-direction: column;
        
    }
}
@media screen and(max-width:578px)
{
    .con
    {
    
        margin: 1rem !important;
        box-sizing: border-box;

    
    }
}